@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');

body {
    font-family: 'Cairo', sans-serif;
}


body {

    margin: 0;
    padding: 0;
}

h1 {

    color: #ffffffc9;
    text-shadow: 4px 4px 4px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 5);
    color: #e6e6e6;
    margin-bottom: 10px;
    text-align: center;
    /* توسيط العنوان */
    padding: 10px 10px;


}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* لتغطية الشاشة بالكامل */
}

/* استايل المحتوى فوق الفيديو */
.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}




.Icons {
    position: absolute;
    bottom: 22px;
    right: 22px;


}

.fa-instagram {
    color: #9c137f;
}

.fa-snapchat {
    color: #e6cd69;
}


/* تنسيق الشعار */
.logo-container {
    text-align: center;
    margin-top: 60px;
}

.logo {
    width: 200px;
    /* تصغير عرض الشعار */
    height: 200px;
    /* تأكيد أن الارتفاع يتناسب مع العرض */
    border-radius: 50%;
    /* جعل الشعار دائريًا بالكامل */
    object-fit: cover;
    /* لضمان أن الصورة لا تتشوه */
    border: 2px solid #333;
    /* يمكنك إضافة حد حول الشعار */
    box-shadow: 1px 2px 12px 15px rgb(81 67 35 / 50%);
}

.fa-brands {
    font-size: 32px;
    margin-left: 4px;
    margin-right: 4px;


}

.nn {
    text-shadow: 4px 4px 4px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 5);
    color: #dd0000;
    font-size: 20px;
    /* تكبير حجم الخط للنصوص */
    color: #000000;
    margin: 10px 0;




}

.sidenav {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 160px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #35448554;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #000000bd;
    display: block;

}

body {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    justify-content: right;
    align-items: right;

}

pre {
    font-size: 1.3rem;
    line-height: 2rem;
    margin: 1rem 0 0 1rem;
    width: fit-content;
    padding: 2rem;
    background-color: #151718;
    color: #e6cd69;
    border-radius: 12px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}

code {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
}

.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    font-size: 14px;


}

.sub-div {
    border: 1px solid rgba(39, 31, 23, 0.281);
    border-radius: calc(0.5 * var(--m));
    background-color: rgba(43, 35, 24, 0.247);
    width: 300px;
    height: 280px;
    margin: 11 10px;
    padding: 40px;
    box-shadow: 5px 5px 90px 20px rgba(0, 0, 0, 0.8);
    text-shadow: 3px 5px 3px rgb(2, 1, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.9em rgb(0, 0, 0);




}

hr {
    border: 190px solid #4CAF50;
    /* لون وسمك الخط */
    width: 12%;
    /* عرض الخط */
    margin: 60px auto;
    /* مسافة حول الخط */
}

/* استايل الفيديو لجعله خلفية */
.video-background {
    position: absolute;
    /* يجعل الفيديو يغطي الشاشة */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -6;
    /* لجعل الفيديو خلف المحتوى */
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* لتغطية الشاشة بالكامل */
}

/* استايل المحتوى فوق الفيديو */
.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    background-size: cover;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.audio {

    text-align: center;
    margin-top: 70px;
}

.testphon {
    display: none;


}

@media screen and (max-width: 768px) {


    .logo-container {

        margin-top: 20px;
    }

    .audio {
        margin-top: 20px;
    }

    .overlay-text {
        font-size: 10px;
    }

    .testphon p {

        color: white;
    }

    .testphon {

        display: flex;
        padding: 16px;
        margin-top: 60px;
        text-align: center;
        border: 1px solid rgba(39, 31, 23, 0.281);
        border-radius: calc(0.5 * var(--m));
        background-color: rgba(51, 49, 49, 0.247);
        box-shadow: 5px 5px 90px 20px rgba(0, 0, 0, 0.8);
        text-shadow: 3px 5px 3px rgb(2, 1, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.9em rgb(0, 0, 0);
    }

    .main-div {
        display: none;
    }


}

@media (min-width: 768px) and (max-width: 991px) {}